<h1>Manage Customers</h1>
<table border="1">
  <thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Title</th>
  <th>Addresses</th>
  <th>Options</th>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.title}}</td>
    <td>
      {{customer?.shippingAddresses?.postalCode}} {{customer?.shippingAddresses?.line1}}
      {{customer?.shippingAddresses?.line1}}
      {{customer?.shippingAddresses?.city}} {{customer?.shippingAddresses?.county}}
      {{customer?.shippingAddresses?.country}}
    </td>
    <td>
      <app-customer-options (onDelete)="getCustomers()" (onUpdate)="getCustomers()"
                            [customer]="customer"></app-customer-options>
      <!--<app-customer-options (onUpdate)="getCustomers()" [customer]="customer"></app-customer-options>-->
    </td>
  </tr>
  </tbody>
</table>
